In [23]:
from desc_exp_1_py import values_count, mean_values
from desc_exp_1_py import median_values, range_max_min
from desc_exp_1_py import var_dict, std_dev_dict

In [32]:
# Count data
print("Raw output, tables are provided further on")
print(" ")
print("---------------------------------")
print(" ")
print("Number of rows ", values_count)
print(" ")
print("---------------------------------")
print(" ")

# Means
print("Means")
print(mean_values)
print(" ")
print("---------------------------------")
print(" ")

# Medians
print("Median")
print(median_values)
print(" ")
print("---------------------------------")
print(" ")

# Range : Max + Min
print("Range: Max/Min")
print(range_max_min)
print(" ")
print("---------------------------------")
print(" ")

# Variance
print("Variance")
print(var_dict)
print(" ")
print("---------------------------------")
print(" ")

# Standard Deviations
print("Standard Deviation")
print(std_dev_dict)
print(" ")
print("---------------------------------")
print(" ")

Raw output, tables are provided further on

---------------------------------

Number of rows  34

---------------------------------

Means
{'Mean Open': 343.74, 'Mean High': 346.709705882353, 'Mean Low': 340.9085294117647, 'Mean Close': 344.5467647058823}

---------------------------------

Median
{'Median Open': 343.78999999999996, 'Median High': 345.105, 'Median Low': 341.24, 'Median Close': 343.645}

---------------------------------

Range: Max/Min
{'Max Open': 360.8, 'Min Open': 325.64, 'Range Open': 35.160000000000025, 'Max High': 364.9, 'Min High': 330.26, 'Range High': 34.639999999999986, 'Max Low': 360.5, 'Min Low': 324.84, 'Range Low': 35.660000000000025, 'Max Close': 363.13, 'Min Close': 326.72, 'Range Close': 36.40999999999997}

---------------------------------

Variance
{'Variance Open': 100.3884484848485, 'Variance High': 87.03205748663103, 'Variance Low': 104.88732807486635, 'SVariance Close': 91.70083467023173}

---------------------------------

Standard Deviation
{'Std.Dev Open': 10.019403599259213, 'Std.Dev High': 9.329097356477261, 'Std.Dev Low': 10.241451463287142, 'Std.Dev Close': 9.576055277108196}

---------------------------------

In [31]:
import pandas as pd
mean_frame = pd.DataFrame(list(mean_values.items()), columns=['Key', 'Values'])
mean_frame

          Key      Values
0   Mean Open  343.740000
1   Mean High  346.709706
2    Mean Low  340.908529
3  Mean Close  344.546765

In [33]:
median_frame = pd.DataFrame(list(median_values.items()), columns=['Key', 'Values'])
median_frame

            Key   Values
0   Median Open  343.790
1   Median High  345.105
2    Median Low  341.240
3  Median Close  343.645

In [34]:
range_frame = pd.DataFrame(list(range_max_min.items()), columns=['Key', 'Values'])
range_frame

            Key  Values
0      Max Open  360.80
1      Min Open  325.64
2    Range Open   35.16
3      Max High  364.90
4      Min High  330.26
5    Range High   34.64
6       Max Low  360.50
7       Min Low  324.84
8     Range Low   35.66
9     Max Close  363.13
10    Min Close  326.72
11  Range Close   36.41

In [35]:
var_frame = pd.DataFrame(list(var_dict.items()), columns=['Key', 'Values'])
var_frame

               Key      Values
0    Variance Open  100.388448
1    Variance High   87.032057
2     Variance Low  104.887328
3  SVariance Close   91.700835

In [37]:
SD_frame = pd.DataFrame(list(std_dev_dict.items()), columns=['Key', 'Values'])
SD_frame

             Key     Values
0   Std.Dev Open  10.019404
1   Std.Dev High   9.329097
2    Std.Dev Low  10.241451
3  Std.Dev Close   9.576055